.app-header-profile {
    background-image: url("/background.gif");
    background-size: cover;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    display: flex;
    flex-direction: column;
    height: 20vh;
    margin: 0;
}

.profile-user-image-box {
    background-color: #FFFFFF;
    padding-top: 0;
    padding-left: 0;
}

.profile-user-image {
    height: 222px;
    width: 222px;
    border-radius: 8px;
}

.profile-user-name {
    background-color: #FFFFFF;
    padding-top: 0;
}

.profile-edit-button {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-container {
    margin-top: 40px;
    margin-bottom: 40px;
}

.profile-loader {
    display: block;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF !important;
}

@keyframes blinker {
    50% { opacity: 0.2; }
  }

.word-cloud {
    margin-bottom: 20px;
}