.app-header {
    background: #2C5F2D;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.intro-home-title {
    font-size: 35px;
    font-family: Tahoma;
    font-weight: 100;
}

.intro-home-description {
    font-size: 20px;
    font-family: Tahoma;
    font-weight: 100;
    margin-top: 20px;
}

.home-list-group {
    margin-top: 40px;
}

.home-alert {
    margin-bottom: 0px !important;
}

.home-metric-jumbotron {
    color: #97BC62FF;
    font-size: 30px;
    font-family: Tahoma;
    background-color: white;
    border: 1px solid #97BC62FF;
    border-radius: 10px;
}

.home-metric-jumbotron:hover {
    color: white;
    font-family: Tahoma;
    background-color: #97BC62FF;
    border: 1px solid #97BC62FF;
    border-radius: 10px;
}

.home-row-container {
    text-align: center;
}

.home-row-title {
    margin: auto;
    font-size: 35px;
    color: #263800;
    font-weight: 700;
    padding-top: 60px;
    padding-bottom: 40px;
}

.progress-image-container {
    padding: 0;
    background-color: white;
    display: flex;
}

.progress-image-container img {
    max-width: 100%;
    max-width: 100%;
}

.progress-desc-container {
    background-color: white;
    font-size: 25px;
    color: #263800;
}