@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.word-guess-container {
    margin: auto;
    margin-top: 60px !important;
    width: 60%;
}

.context-definition {
    font-size: 25px;
    font-weight: bold;
    color: black;
    font-family: 'Roboto';
    padding: 50px;
    left: 50%;
    text-align: center;
}

.context-options {
    font-size: 20px;
    font-weight: 500;
    color: black;
    font-family: 'Roboto';
}

.context-definition-loading {
    margin-top: auto !important;
    width: 50% !important;
}

.result-card {
    margin-top: 20px;
    padding-top: 20px;
}

.card {
    border: 4px solid grey;
    border-radius: 5px;
}

input[type="radio"] {
    display: none;
}
input[type="radio"]:not(:disabled) ~ label {
    cursor: pointer;
}
input[type="radio"]:disabled ~ label {
    color: #bcc2bf;
    border-color: #bcc2bf;
    box-shadow: none;
    cursor: not-allowed;
}

label {
    height: 100%;
    display: block;
    background: white;
    border: 0px solid #20df80;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 0rem;
    text-align: center;
    box-shadow: 0px 3px 10px -2px rgba(161, 170, 166, 0.5);
    position: relative;
}

input[type="radio"]:checked + label {
    background: #20df80;
    color: white;
    box-shadow: 0px 0px 20px rgba(0, 255, 128, 0.75);
}
input[type="radio"]:checked + label::after {
    color: #3d3f43;
    font-family: FontAwesome;
    border: 2px solid #1dc973;
    content: "\2713";
    font-size: 24px;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background: white;
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.25);
}

input[type="radio"]#control_05:checked + label {
    background: red;
    border-color: red;
}

.option-val {
    font-size: 15px;
    font-weight: 500;
    color: black;
    font-family: 'Roboto';
    text-transform: lowercase;
    text-transform: capitalize;
}

.option-box {
    padding: 0;
    display: inline-block;
    margin: 0;
    margin-bottom: 20px;
}

.options-form {
    padding-left: 0px;
}
  

.check-button {
    border-radius: 0px;
}

.alert-para {
    display: inline;
}

.wg-card {
    padding: 0px;
}

.descriptors {
    margin-top: 30px;
    line-height: 130%;
}

.card-title-custom {
    margin-bottom: 0px !important;
}